.card-container {
    background-color: #2f314f;
    border-radius: 8px;
    border: 1px solid #606060;
    padding: 20px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 1.5rem;
}

.card-container.solved {
    border-color: #2CAD72;
}

.card-container:hover {
    transform: translateX(-5px);
}

.resolution-badge {
    position: absolute;
    top: -15px;
    right: 140px;
    background-color: #2cad72;
    color: white;
    font-size: 0.85rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.left-header {
    display: flex;
    align-items: center;
}

.title {
    color: #e4e4e4;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin: 0 0 0.5rem 0;
}

.description {
    color: #e4e4e4;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

.card-logo-container {
    background-color: #22233a;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.8rem;
}

.text-date {
    color: #bdbdbd;
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.author {
    color: #32ca9a;
    font-weight: 700;
    font-size: 0.9rem;
}

.author-separator {
    margin: 0 0.3rem;
    display: inline-block;
}

.created-date {
    color: #bdbdbd;
    font-weight: 500;
    margin: 0;
    font-size: 0.9rem;
}

.card-left-footer {
    display: flex;
    align-items: center;
}

.card-left-footer p {
    color: #bdbdbd;
}

.card-categories {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
}

.category-tag {
    background-color: #292b48;
    border: 0.9px solid #606060;
    color: #ffffff;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.3rem 1rem;
    border-radius: 5px;
}
