.answer-card-wrapper {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 90%;
}

.answer-card-star-button {
    position: absolute;
    left: -15px;
    top: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.4rem 0.5rem 0.4rem;
    background-color: var(--bg-card);
    z-index: 100;
    border: 1px solid #74C17C;
    transform: translateY(-50%);
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.answer-card-star-button:hover {
    background-color: var(--bg-dark);
}

.answer-card {
    width: 100%;
    background-color: var(--bg-card);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    padding: 1.2rem 1.4rem 0.5rem 1.4rem;
    color: var(--text-main);
    position: relative;
}

.answer-card--solved {
    border-color: #2CAD72;
}

.answer-card-resolution-badge {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--bg-card);
    color: var(--text-main);
    font-size: 0.85rem;
    font-weight: 600;
    padding: 8px 3rem;
    border-radius: 6px;
    border: 1px solid #2cad72;
}

.answer-card-user-avatar {
    background-color: var(--primary);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    color: #fff;
    font-weight: bold;
}

.answer-card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.answer-card-main-head {
    display: flex;
    justify-content: space-between;
}

.answer-card-header {
    display: flex;
    margin-bottom: 2rem;
    margin-top: 0.3rem;
}

.answer-card-header img {
    margin-right: 0.5rem;
}

.answer-card-pseudo {
    font-weight: 600;
    margin: 0.1rem 0 0.3rem 0;
    color: var(--text-main);
}

.answer-card-role {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 0;
    color: var(--text-muted);
}

.answer-card-infos {
    display: flex;
    align-items: center;
    color: var(--text-muted);
}

.answer-card-date {
    margin-right: 2rem;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

.answer-card-likes {
    margin-right: 0;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    background: none;
    border: none;
    color: var(--text-muted);
    cursor: pointer;
}

.answer-card-likes:hover {
    color: var(--text-main);
}

.answer-card-content {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 0;
    color: var(--text-muted);
}