.profile-header {
    background-color: #22233a;
    border-bottom: 0.6px solid #8e8e8e;
    padding: 0.5rem 3rem 2rem 3rem;
    color: #e4e4e4;
}

.actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
}

.actions-button {
    background-color: #717EFF;
    border: none;
    color: #e4e4e4;
    padding: 0.5rem 1.7rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #5a6edc;
    }
}

.delete-button {
    background-color: #FF5C5C;
    border: none;
    font-size: 1em;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #e4e4e4;
    font-weight: 500;
    transition: background-color 0.3s ease;
    cursor: pointer;

    &:hover {
        background-color: #e04b4b;
    }
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1.2rem;
    gap: 2rem;
    margin-top: 1rem;
}

.profile-username {
    margin-bottom: 0.2rem;
}

.profile-pseudo {
    color: #a0a0a0;
    font-size: 0.9em;
    margin-bottom: 0.5rem;
}

.profile-overview {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
}

.profile-picture {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-stats {
    display: flex;
    gap: 3rem;
    font-size: 0.9em;
    background-color: #2F314F;
    border: 1px solid #606060;
    padding: 1rem 3.5rem;
    border-radius: 5px;
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat-number {
    font-weight: 600;
    font-size: 1.2em;
}

.stat-label {
    font-weight: 400;
    font-size: 1em;
}

.profile-bio {
    margin-top: 2rem;
    font-size: 0.95em;
    color: #d0d0d0;
    max-width: 60%;
    padding-left: 1.2rem;
}

.profile-bio h2 {
    margin-bottom: 0.5rem;
    font-size: 1.1em;
    font-weight: 600;
}

.profile-bio p {
    line-height: 1.4;
}

.profile-list-topics {
    padding: 2rem 4.2rem 3rem 4.2rem;
}

.profile-list-topics h2 {
    font-size: 1.6em;
    font-weight: 700;
    color: #e4e4e4;
}

.edit-profile-container {
    display: flex;
    width: 100%;
    gap: 1.5rem;
}

.topics-list {
    margin-top: 1.2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
}

.pl__topic-item {
    background-color: #22233A;
    border: 1px solid #606060;
    padding: 1.5rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: #E4E4E4;
    cursor: pointer;
    width: 100%;
    display: flex;

    &:hover {
        background-color: #2F314F;
    }
}

.pl__topic-title {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
}

.pl__topic-date {
    font-size: 0.85rem;
    color: #E4E4E4;
}

.pl__topic-main {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
}

.pl__topic-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.profile-avatar {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
    margin-top: 0.2rem;
}

.pl__topic-stat {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.9em;
    font-weight: 500;
    margin-top: 9px;
}

.topic-comment-icon {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.2rem;
}