.login-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form-label {
    font-size: 0.85rem;
    margin-bottom: 0.1rem;
    font-weight: 500;
}

.form-input {
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #e1e1e1;
    background-color: #FFF;
    color: #000000;
    font-size: 0.95rem;
    transition: border-color 0.3s;
    outline: none;

    &:focus {
        border: 1px solid #2e54d9;
    }
}

.login-submit-button {
    width: 100%;
    padding: 0.65rem;
    margin-top: 1rem;
    background-color: #3f69ff;
    border: 1px solid #2e54d9;
    color: #FFF;
    border-radius: 7px;
    font-weight: 500;
    font-size: 0.8em;
    cursor: pointer;

    &:hover {
        background-color: #2e54d9;
    }
}