.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    background-color: #22233a;
    color: #fff;
    height: 7rem;
}

.header-left {
    display: flex;
    align-items: center;
}

.custom-logo {
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    margin-right: 6rem;
}

.nav-items {
    display: flex;
    gap: 4rem;
}

.nav-link {
    text-decoration: none;
    color: #E4E4E4;
    transition: 0.3s;
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
}

.nav-link:hover {
    color: #3f69ff;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-svg {
    cursor: pointer;
}

.profile-svg path {
    transition: 0.3s;
}

.profile-svg:hover path {
    stroke: #3f69ff;
    transition: 0.3s;
}

.avatar {
    width: 3rem;
    height: 3rem;
    background-color: #3f69ff;
    border-radius: 50%;
    margin-left: 1rem;
}
