.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    background-color: transparent;
    color: var(--text-main);
    height: 7rem;
    position: relative;
    z-index: 10;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left .custom-logo {
    width: 4rem;
    height: 4rem;
    border-radius: 10px;
    margin-right: 6rem;
}

.header-left .nav-items {
    display: flex;
    gap: 4rem;
}

.header-left .nav-link {
    text-decoration: none;
    color: #E4E4E4;
    transition: 0.3s;
    font-size: 1.2rem;
    font-weight: 600;
    outline: none;
}

.header-left .nav-link:hover {
    color: #3f69ff;
}

.header-left .header-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-left .header-right .profile-svg {
    cursor: pointer;
}

.header-left .header-right .profile-svg path {
    transition: 0.3s;
}

.header-left .header-right .profile-svg:hover path {
    stroke: #3f69ff;
    transition: 0.3s;
}

.header-left .header-right .avatar {
    width: 3rem;
    height: 3rem;
    background-color: #3f69ff;
    border-radius: 50%;
    margin-left: 1rem;
}