.topics-container {
    padding: 3rem;
    display: flex;
    justify-content: space-between;
}

.topics-list {
    margin-top: 1rem;
}

.side-panel {
    width: 23%;
}

.stat-container {
    display: flex;
    margin-top: 1rem;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.stat-number {
    color: #e4e4e4;
    font-weight: 600;
    font-size: 0.95rem;
}

.stat-label {
    color: #bdbdbd;
    font-weight: 500;
    font-size: 0.8rem;
}

.topic-stats-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2f314f;
    width: fit-content;
    height: fit-content;
    border-radius: 50%;
    padding: 0.5rem;
    margin-right: 1rem;
}

.active-user-avatar {
    background-color: #2f314f;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5px;
    margin-right: 1rem;
}

.discord-section {
    background-color: #5765f2;
    width: 100%;
    margin-top: 1.5rem;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    height: 20rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.custom-discord-logo {
    width: 11rem;
    height: 11rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.discord-button {
    background-color: #3c4694;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    max-width: calc(100% - 2rem);
    transition: all 0.3s ease;
}

.discord-button:hover {
    transform: translateY(-4px);
    background-color: #4d58a4;
}

.user-mention {
    color: #5765f2;
    cursor: pointer;
}

.user-mention:hover {
    color: #4d58a4;
}
